.banner, .shared-button{
    position: relative;    
    overflow: hidden;
}

.banner> div{
    width: 50%;
    padding: 20px;
}

.shared-button:hover{
    transition: 0.5s;
    transform: scale(0.95);
}

.shared-button:hover:after{
    position: absolute;
    background: #fff;
    content: "";
    transition: 0.5s;
    inset: 3px;
    border-radius: 5px;
}

.shared-button:hover>h1{
    position: relative;
    z-index: 1000;
}

.shared-button:not([disabled]):hover:before{
    position: absolute;
    content: "";
    width: 200%;
    height: 200%;
    transition: 0.5s;
    top: -50px;
    left: -50px;
    background: linear-gradient(#19D3AE, #0FCFEC);
    animation: roll 2s linear infinite;
    inset: -3px;
}

.shared-button:disabled>h1{
  background: #cccccc;
  color: gray;
}

@keyframes roll{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media only screen and (max-width:800px) {
    .banner{
        flex-direction: column;
    }
    .banner> div{
        width: 100%;
        padding: 10px;
    }
}